.about {
  background-color: #222;
  padding: 2.5rem 4rem;
}

.heading {
  font-family: 'Poppins';
  color: #fff;
  font-weight: bolder;
  font-size: 2vw;
  border: 1px dashed white;
  padding: 4px 10px;
  display: inline;
  border-radius: 15px;
  margin-bottom: 2rem;
}

.struc{
  margin-top: 2rem;
}

.row-1, .row-2{
  display: flex;
}

.row-1 .bottom{
  visibility: hidden;
}

.row-2 .top{
  visibility: hidden;
}

.hexagon {
  background-size: contain;
  margin-right: 0;
  margin-left: 0;
  height: 260px;
  background-repeat: no-repeat;
}

.bottom{
    background-image: url('../../../public/assets/bottom-hex.png');
}

.top{
  background-image: url('../../../public/assets/top-hex.png');
}

.bottom .content{
  padding-left: 29px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 75%;
}

.img-hex{
  width: 105px;
}

.para{
  width: 65%;
  color: #fff;
  font-family: 'Lato';
  font-weight: bold;
  font-size: 0.9rem;
}
