.about {
  background-color: rgba(34, 34, 34, 0.8);
  padding: 2.5rem 4rem;
}

.heading {
  font-family: 'Poppins';
  color: #fff;
  font-weight: bolder;
  font-size: 2vw;
  border: 1px dashed white;
  padding: 4px 10px;
  display: inline;
  border-radius: 15px;
  margin-bottom: 2rem;
}



@media (max-width: 1000px) {
.about{
    padding: 2rem 2rem;
}

.heading{
    font-size: 3vw;
    border: 1px solid white;
    padding: 4px 10px;
    border-style: dashed;
    border-radius: 10px;
}
  
}

@media (max-width: 768px) {
.about{
    padding: 0rem 1rem;
}

.heading{
    font-size: 4vw;
    border: 1px solid white;
    padding: 4px 10px;
    border-style: dashed;
    border-radius: 10px;
}
}

@media (max-width: 480px) {
.about{
    padding: 0.5rem 0.5rem;
}

.heading{
    font-size: 6vw;
    border: 1px solid white;
    padding: 4px 10px;
    border-style: dashed;
    border-radius: 10px;
}
}

