.about{
    background-color: #222;
    padding: 2.5rem 4rem;
    padding-top: 1rem;
}

.heading{
    font-family: 'Poppins';
    color: #fff;
    font-weight: bolder;
    font-size: 2vw;
    border: 1px solid white;
    padding: 4px 10px;
    display: inline;
    border-style: dashed;
    border-radius: 15px;
}

.timeline-section{
    margin-top: 4rem;
    max-width: 90vw;
    position: relative;
    overflow: visible;
    filter: invert(1);
}
