.timeline {
  background: #f9fafb;
  font-family: 'Poppins', Arial, sans-serif;
}

.timeline-section {
  font-family: 'Poppins', Arial, sans-serif;
  padding: 2.5rem 1.5rem 2rem 1.5rem;
  max-width: 1000px;
  margin: 0rem auto 0rem auto;
  text-align: center;
}

.timeline-title {
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
  color: #111827;
  letter-spacing: 1px;
}

.timeline-desc {
  color: #374151;
  font-size: 1.3rem;
  margin-bottom: 1.1rem;
  line-height: 1.7;
  font-family: inherit;
}

.highlight {
  color: var(--primary-green);
}

@media (max-width: 700px) {
  .timeline-section {
    padding: 1.2rem 0.2rem 0rem 0.2rem;
    max-width: 99vw;
  }
  .timeline-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
  }
  .timeline-desc {
  color: #374151;
  font-size: 1.1rem;
  line-height: 1.4;
  margin-bottom: 0
}
}

#process {
  padding-bottom: 40px;
  padding-top: 24px;
  overflow-x: hidden;
}

#process .section-heading {
  margin-bottom: 40px;
}

.steps-pane img {
  height: 9vw;
  margin-top: 1.1vw;
  margin-left: 1.5vw;
  -ms-transform: skewX(-15deg);
  /* IE 9 */
  -webkit-transform: skewX(-15deg);
  /* Safari */
  -o-transform: skewX(-15deg);
  /* Standard syntax */
  -moz-transform: skewX(-15deg);
  transform: skewX(-15deg);
}

.pane-warp {
  height: 12vw;
  width: 25px;
  margin-left: 20%;
  margin-top: 20px;
  -ms-transform: skewX(15deg);
  /* IE 9 */
  -webkit-transform: skewX(15deg);
  /* Safari */
  -o-transform: skewX(15deg);
  /* Standard syntax */
  -moz-transform: skewX(15deg);
  transform: skewX(15deg);
}

.steps-pane {
  height: 12vw;
  width: 12vw;
  margin-left: 30px;
  box-shadow: 7px 0px 5px #bcbcbc;
}

.inverted-pane-warp {
  height: 12vw;
  width: 25px;
  margin-left: 20%;
  -ms-transform: skewX(-15deg);
  /* IE 9 */
  -webkit-transform: skewX(-15deg);
  /* Safari */
  -o-transform: skewX(-15deg);
  /* Standard syntax */
  -moz-transform: skewX(-15deg);
  transform: skewX(-15deg);
}

.inverted-steps-pane {
  height: 12vw;
  width: 12vw;
  background: #bcbcbc;
  margin-left: 30px;
  box-shadow: 7px 0px 5px #bcbcbc;
}

.inverted-steps-pane p {
  font-size: 0.95vw;
  -ms-transform: skewX(15deg);
  /* IE 9 */
  -webkit-transform: skewX(15deg);
  /* Safari */
  -o-transform: skewX(15deg);
  /* Standard syntax */
  -moz-transform: skewX(15deg);
  transform: skewX(15deg);
  padding: 1vw 0.8vw 1vw 1.3vw;
  color: #374151;
  font-family: inherit;
}

.steps-one h3,
.steps-two h3,
.steps-three h3,
.steps-four h3,
.steps-five h3 {
  text-align: center;
  margin-bottom: 9px;
  font-family: inherit;
  font-size: 1.5vw;
  margin-right: 2px;
  color: #111;
}

@media(min-width: 900px) {
  .steps-timeline {
    border-top: 5px double var(--primary-green);
    padding-top: 35px;
    margin-top: 40px;
    margin-left: 3%;
    margin-right: 3%;
  }
  .steps-one,
  .steps-two,
  .steps-three,
  .steps-four,
  .steps-five {
    float: left;
    width: 20%;
    margin-top: -105px;
  }
  .step-wrap {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: transparent;
    margin-left: 39%;
    border: 2px solid var(--primary-green);
  }
  .verticle-line {
    position: absolute;
    height: 57px;
    width: 5px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .steps-stops {
    height: 25px;
    width: 25px;
    margin: 11px 10.1px;
    border-radius: 50%;
    background: var(--primary-green);
  }
  .end-circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    margin-top: 19px;
    margin-left: -10px;
  }
  .inverted-end-circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    margin-top: 19px;
    margin-left: 96.1%;
  }
}

@media(max-width: 899px) {
    .timeline {
  background: #f9fafb;
  font-family: 'Poppins', Arial, sans-serif;
}

.timeline-section {
  font-family: 'Poppins', Arial, sans-serif;
  padding: 2.5rem 1.5rem 2rem 1.5rem;
  max-width: 1000px;
  margin: 0rem auto 0rem auto;
  text-align: center;
}

.timeline-title {
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  color: #111827;
  letter-spacing: 1px;
}

.timeline-desc {
  color: #374151;
  font-size: 1.3rem;
  margin-bottom: 1.1rem;
  line-height: 1.7;
  font-family: inherit;
}

.highlight {
  color: var(--primary-green);
}

@media (max-width: 700px) {
  .timeline-section {
    padding: 1.2rem 0.2rem 0rem 0.2rem;
    max-width: 95vw;
  }
  .timeline-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
  }
  .timeline-desc {
  color: #374151;
  font-size: 1.1rem;
  line-height: 1.4;
  margin-bottom: 0
}
}

#process {
  padding-bottom: 40px;
  padding-top: 24px;
  overflow-x: hidden;
}

#process .section-heading {
  margin-bottom: 40px;
}

.steps-pane img {
  height: 100px;
  margin-top: 18px;
  margin-left: 23px;
  -ms-transform: skewX(-15deg);
  /* IE 9 */
  -webkit-transform: skewX(-15deg);
  /* Safari */
  -o-transform: skewX(-15deg);
  /* Standard syntax */
  -moz-transform: skewX(-15deg);
  transform: skewX(-15deg);
}

.pane-warp {
  height: 140px;
  width: 25px;
  margin-left: 20%;
  margin-top: 20px;
  -ms-transform: skewX(15deg);
  /* IE 9 */
  -webkit-transform: skewX(15deg);
  /* Safari */
  -o-transform: skewX(15deg);
  /* Standard syntax */
  -moz-transform: skewX(15deg);
  transform: skewX(15deg);
}

.steps-pane {
  height: 140px;
  width: 140px;
  margin-left: 30px;
  box-shadow: 7px 0px 5px #bcbcbc;
}

.inverted-pane-warp {
  height: 140px;
  width: 25px;
  margin-left: 20%;
  -ms-transform: skewX(-15deg);
  /* IE 9 */
  -webkit-transform: skewX(-15deg);
  /* Safari */
  -o-transform: skewX(-15deg);
  /* Standard syntax */
  -moz-transform: skewX(-15deg);
  transform: skewX(-15deg);
}

.inverted-steps-pane {
  height: 140px;
  width: 140px;
  background: #bcbcbc;
  margin-left: 30px;
  box-shadow: 7px 0px 5px #bcbcbc;
}

.inverted-steps-pane p {
  font-size: 0.65rem;
  -ms-transform: skewX(15deg);
  /* IE 9 */
  -webkit-transform: skewX(15deg);
  /* Safari */
  -o-transform: skewX(15deg);
  /* Standard syntax */
  -moz-transform: skewX(15deg);
  transform: skewX(15deg);
  padding: 22px 10px 10px 16px;
  color: #374151;
  font-family: inherit;
}

.steps-one h3,
.steps-two h3,
.steps-three h3,
.steps-four h3,
.steps-five h3 {
  text-align: center;
  margin-bottom: 9px;
  font-family: inherit;
  font-size: 1.3rem;
  margin-right: 2px;
  color: #111;
}
  #process .container-fluid {
    width: 50%;
  }
  .steps-timeline {
    border-left: 5px double var(--primary-green);
    margin-left: 35px;
  }
  .steps-one,
  .steps-two,
  .steps-three,
  .steps-four,
  .steps-five {
    margin-left: -25px;
    margin-bottom: 67px;
  }
  .step-wrap,
  .steps-stops {
    float: left;
  }
  .steps-timeline {
    border-left: 2px solid var(--primary-green);
    margin-left: 30px;
  }
  .pane-warp {
    margin-left: 30%;
  }
  .inverted-pane-warp {
    margin-left: 30%;
  }
  .verticle-line {
    position: absolute;
    width: 125px;
    height: 5px;
    margin-left: 5px;
    margin-top: 10px;
  }
  .steps-stops {
    height: 25px;
    width: 25px;
    margin: 11px 10px;
    border-radius: 50%;
    background: var(--primary-green);
  }
  .step-wrap {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: transparent;
    margin-top: 125px;
    margin-left: -2px;
    border: 2px solid var(--primary-green);
  }
  .end-circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    margin-top: -45px;
    margin-left: 15px;
  }
  .inverted-end-circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    margin-top: 280px;
    margin-left: 15px;
  }
}

@media (max-width: 600px) {
  #process .container-fluid {
    width: 90%;
  }

.steps-one h3,
.steps-two h3,
.steps-three h3,
.steps-four h3,
.steps-five h3 {
  text-align: center;
  margin-bottom: 9px;
  font-family: inherit;
  font-size: 1.3rem;
  margin-right: -20px !important;
}
}

@media (max-width: 400px) {
  .verticle-line {
    width: 105px;
  }
}

.back-orange {
  background: var(--primary-green);
}

.back-blue {
  background: #111827;
}

