.about{
    background-color: #222222;
    padding: 2.5rem 2rem;
}

.heading{
    font-family: 'Poppins';
    color: #fff;
    font-weight: bolder;
    font-size: 2vw;
    border: 1px solid white;
    padding: 4px 10px;
    display: inline;
    border-style: dashed;
    border-radius: 15px;
    margin-bottom: 2rem;
    margin-left: 2rem;
}


.card-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.profile-card {
  cursor: pointer;
  width: 18vw;
  height: 140px;
  background: transparent;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
  color: white;
  font-family: 'Lato';
  backdrop-filter: blur(2px);
  overflow: hidden;

  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(150deg, 
    rgba(255, 255, 255, 0.6) 0%, 
    rgba(255, 255, 255, 0.2) 30%, 
    rgba(255, 255, 255, 0) 50%, 
    rgba(255, 255, 255, 0.2) 70%, 
    rgba(255, 255, 255, 0.6) 100%
  ) 1;

  &:hover {
    border-image: linear-gradient(135deg, 
      rgba(255, 255, 255, 1) 0%, 
      rgba(255, 255, 255, 0.8) 30%, 
      rgba(255, 255, 255, 0.7) 50%, 
      rgba(255, 255, 255, 0.8) 70%, 
      rgba(255, 255, 255, 1) 100%
    ) 1;
  }

  .left-image {
    height: 5rem;
    width: 5rem;
    border-radius: 8px;
  }

  .info-section {
    flex: 1;
    margin-left: 16px;

    .name {
      font-weight: 700;
      font-size: 1.2rem;
    }

    .designation {
      font-style: italic;
      font-size: 1rem;
      opacity: 0.8;
      margin-bottom: 28px;
    }

    .icons {
      display: flex;
      gap: 8px;

      a {
        width: 34px;
        height: 34px;
        background-color: #ccc;
        color: black;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 18px;
        transition: transform 0.3s;

        &:hover {
          transform: scale(1.1);
          background: white;
        }
      }
    }
  }
}

.profile-card:hover{
  box-shadow: 0px -4px 16px #fff, 0px 4px 16px #fff;
}

@media (max-width: 1000px) {

  .profile-card {
    width: 240px;
  }

.about{
    padding: 2rem 2rem;
}

.heading{
    font-size: 3vw;
    border: 1px solid white;
    padding: 4px 10px;
    border-style: dashed;
    border-radius: 10px;
}
}

@media (max-width: 768px) {
  .structure-card {
    width: 120px;
    margin-bottom: 0;
  }

  .structure-title {
    font-size: 0.95rem;
  }

  .structure-icon {
    width: 90px;
    height: auto;
  }

  .numbers-heading h3{
    font-size: 3vw;
  }
}

@media (max-width: 768px) {
.about{
    padding: 1rem 1rem;
}

.heading{
    font-size: 4vw;
    border: 1px solid white;
    padding: 4px 10px;
    border-style: dashed;
    border-radius: 10px;
    margin-left: 0;
}
}

@media (max-width: 480px) {
.about{
    padding: 0.5rem 0.5rem;
}

.heading{
    font-size: 6vw;
    border: 1px solid white;
    padding: 4px 10px;
    border-style: dashed;
    border-radius: 10px;
}
}
