.investors {
  font-family: 'Poppins', Arial, sans-serif;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  margin: 0rem auto 0rem auto;
  text-align: center;
  background: #fff;
}

.investors-title {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  color: #111827;
  letter-spacing: 1px;
}

.highlight {
  color: var(--primary-green);
}

.investors-list {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 2.5rem;
}

.investor-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.06);
  padding: 1rem 1rem 1rem 1rem;
  width: 200px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid #e5e7eb;
  transition: box-shadow 0.2s, border-color 0.2s;
}

.investor-card:hover {
  box-shadow: 0 10px 40px rgba(0,0,0,0.10);
  border-color: var(--primary-green);
}

.investor-image {
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 0rem;
  align-self: center;
}

.investor-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  text-align: left;
  margin-top: 0.5rem;
}

.investor-name {
  font-size: 1rem;
  font-weight: 700;
  color: #111827;
  margin-bottom: 0rem;
  text-align: left;
}

.investor-position {
  color: #374151;
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.5;
}
